.metadata.page-metadata {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0!important;
    padding: 0!important;
} 	


.metadata.page-metadata>li:first-of-type, .metadata.page-metadata>li:only-of-type {
    margin-left: 0;
}

.metadata.page-metadata>li:not(:last-of-type):not(:only-of-type):after {
    padding-left: 5px;
    padding-right: 5px;
    content: "•";
}

.metadata.page-metadata>li {
    list-style: none;
    display: flex;
    flex-basis: auto;
} 

.metadata.page-metadata .contributors {
    display: inline-block;
    list-style: none;
    margin: 0!important;
    padding: 0!important;
}

.metadata.page-metadata .contributors li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.content ul ul>li {
    list-style-type: circle;
}

.content ol>li, .content ul>li {
    list-style: disc outside none;
}

.metadata.page-metadata .contributors li img {
    border-radius: 100%;
    height: 16px;
    margin-top: 5px;
    overflow: hidden;
    width: 16px;
}

.content img, .content video {
    max-width: 100%;
    height: auto;
    display: inline-block;
}


.themes-menu {
    margin-left: 1%;
}

#dropdownMenuButton{
    color: #47A7A0;
    size: 40px;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 2%;
    cursor: pointer;
}

.doc-info {
    margin-left: 1%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1.5rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 600;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


button, a, .btn-primary {
    color: #47A7A0;
  }
  .btn-primary:hover, .btn-primary:focus, button:hover, button:focus, a:hover, a:focus, .toc .nav > li.active > a:hover, .toc .nav > li.active > a:focus, .toc .nav > li > a:hover, .toc .nav > li > a:focus {
    color: #6E8B60;
  }
  .btn-primary.disable, .btn-primary.disable:hover, a.disable, a.disable:hover{
    color: #90ABB9;
  }
  .hero {
      color: #C1D38B;
      background-color: #385361;
      background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#000),color-stop(100%,#385361));
      background-image: -webkit-linear-gradient(45deg,#000 0,#385361 100%);
      background-image: -moz-linear-gradient(45deg,#000 0,#385361 100%);
      background-image: -ms-linear-gradient(45deg,#000 0,#385361 100%);
      background-image: -o-linear-gradient(45deg,#000 0,#385361 100%);
      background-image: linear-gradient(45deg,#000 0,#385361 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#385361', GradientType=1);
  
  }
  .hero strong {
      color: #e7e7e7;
  }
  .buttons-unit .button {
      color: #fff;
      background: #6E8B60;
  }
  .buttons-unit .button:active {
      background: #A27865;
  }
  .toc .nav > li.active > a, .affix ul > li.active > a, .affix ul > li.active > a:before {
    color: #6E8B60
  }
  .btn-primary {
      background: #385361;
      color: #8BFEB4;
  }
  
  .affix ul > li > a:before {
    color: #cccccc;
  }
  .toc .nav > li > a, .affix ul > li > a, .affix ul > li > a:hover {
    color: #666666;
  }
  
  svg:hover path {
      fill: #ffffff;
  }
  
  .counter-key-section{
    border: 2px solid #6E8B60;
    -webkit-border-image-source: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, #385361), color-stop(100%, rgba(0, 0, 0, 0)));
    -webkit-border-image-source: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -moz-border-image-source: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -ms-border-image-source: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -o-border-image-source: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
  }
  
  .hero {
      height: 350px;
      margin-top: 50px;
      padding-top: 50px;
      font-weight: 300;
      text-align: center;
  }
  .key-section{
    padding: 30px 0;
  }
  
  .key-section .glyphicon, .counter-key-section .glyphicon {
    font-size: 4em;
    display: table-cell;
    vertical-align: middle;
  }
  .glyphicon {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .key-section section, .counter-key-section section {
    display: table-cell;
    padding-left: 20px;
  }
  
  .key-section section p, .counter-key-section section p {
    text-align: initial;
  }

  .buttons-unit-small{
    font-size: 16px;
  }

  .hero strong {
      font-weight: 400;
      font-family: Candara;
  }
  .hero .text {
      font-size: 64px;
      text-align: center;
  }
  .hero .minitext {
      font-size: 20px;
      text-align: center;
      font-family: Candara;
  }
  .buttons-unit {
      margin-top: 60px;
      text-align: center;
  }
  .hero .button {
      border-radius: 4px;
      padding: 8px 16px;
      margin: 0 12px;
      box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  }
  .buttons-unit .button {
      font-size: 24px;
  }
  
  @media only screen and (max-width: 768px) {
    .hero {
      height: 500px;
      margin-top: 0px;
    }
    .hero .button {
      display: block;
      margin: 12px;
    }
  }