
<body>
	{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
	{{!master(layout/_master.tmpl)}}
	{{{rawTitle}}}
	{{{conceptual}}}

	<a href="#" onclick="changeCSS('/styles/main.css');">STYLE 1</a> 
	<a href="#" onclick="changeCSS('');">STYLE 2</a>
</body>