

<head>
	<title>Changing CSS</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css"/>
</head>
<body>
	{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
	{{!master(layout/_master.tmpl)}}
	{{{rawTitle}}}
	{{{conceptual}}}

	<a href="#" onclick="changeCSS('/styles/main_dark.css', 0);">STYLE 1</a> 
	<a href="#" onclick="changeCSS('/styles/main.css', 0);">STYLE 2</a>
</body>