.metadata.page-metadata {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0!important;
    padding: 0!important;
} 	


.metadata.page-metadata>li:first-of-type, .metadata.page-metadata>li:only-of-type {
    margin-left: 0;
}

.metadata.page-metadata>li:not(:last-of-type):not(:only-of-type):after {
    padding-left: 5px;
    padding-right: 5px;
    content: "•";
}

.metadata.page-metadata>li {
    list-style: none;
    display: flex;
    flex-basis: auto;
} 

.metadata.page-metadata .contributors {
    display: inline-block;
    list-style: none;
    margin: 0!important;
    padding: 0!important;
}

.metadata.page-metadata .contributors li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.content ul ul>li {
    list-style-type: circle;
}

.content ol>li, .content ul>li {
    list-style: disc outside none;
}

.metadata.page-metadata .contributors li img {
    border-radius: 100%;
    height: 16px;
    margin-top: 5px;
    overflow: hidden;
    width: 16px;
}

.content img, .content video {
    max-width: 100%;
    height: auto;
    display: inline-block;
}


.themes-menu {
    margin-left: 105%;
}

.doc-info {
    margin-left: 1%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}